.barraDeNavegacion{
    background-color: #CDB4DB;
}
.enlace{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;

}
.enlace:hover{
    color: #BDE0FE;
}

.footer{
    background-color: #FFAFCC;
}
.enlaceFooter{
    font-size: 2.4vh;
}
.textoFooter{
    color: white;
    font-style: italic;
}