*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.barraDeNavegacion{
    background-color: #CDB4DB;
}
.enlace{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    margin-left: 3vh;
}
.enlace:hover{
    color: #BDE0FE;
}
.portadaNosotros{
    background-image: url(../images/PortadaNosotros.png);
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portadaPreguntasFrecuentes{
    background-image: url(../images/PortadaPreguntasFrecuentes.png);
    background-size:cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portadaBlog{
    background-image: url(../images/PortadaBlog.png);
    background-size:cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portadaTitulo{
    color: white;
    font-size: 15vh;
}
.main{
    background-color: #FFC8DD;
    padding: 3vh;
}
.mainNosotros{
    padding: 4vh;
    margin: 4vh auto;
    display: flex;
}

.seccion1Nosotros{
    width: 90%;
}
.mainBlog{
    padding: 4vh;
    margin: 4vh auto;
}
    

.carouselAjustes {
     width: 55vh; }
.centrado, .carouselAjustes, .card, .btn {
        display: flex;
        margin: auto auto;
        justify-content: center; }
.textoNosotros {
    padding: 3vh;
    width: 90%;    
}

.accordionMargin {
    margin: 30px auto; }
  
  .carouselAjustes {
    width: 90%; }
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #fad7f8; }  

.seccion1Blog{
display: flex;
flex-direction: row;
padding: 5vh;
margin-bottom: 5vh;
}
.seccion2Blog{
    display: flex;
    flex-direction: row;
    padding: 5vh;
}
.seccion1Blog img, .seccion2Blog img{
    width: 60%;
}
.btnBlog{
    width: 10vw;
}
.tituloNoticia{
    font-family: amaranth;
    font-size: 8vh;
}
.textoNoticia{
    font-size: 3vh;
}
.footer{
    background-color: #ff93bb;
}
.enlaceFooter{
    font-size: 2.4vh;
}
.textoFooter{
    color: white;
    font-style: italic;
}


  
@media (max-width: 768px) {
    .mainNosotros{
        flex-direction: column;
    }
    }